<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="user" type="com.vitamin.domain.UserVO" />		
		<typeAlias alias="product" type="com.vitamin.domain.ProductVO" />
		<typeAlias alias="psimg" type="com.vitamin.domain.PsImageVO" />
		<typeAlias alias="productoption" type="com.vitamin.domain.ProductOptionVO" />
	</typeAliases>


</configuration>

